<!DOCTYPE html>
<html lang="en">
<head>
   <%- include ('partials/head.ejs', {pageTitle: 'Edit Movie'}) %>
</head>
<body>
    <%- include('../partials/nav.ejs', {pageName: 'Edit Movie'}) %>
    <header>
        <h1>Edit Movie Page | <%= movie.title %> </h1>
    </header>
    <form method="POST" action="/movies/<%=movie._id%>?_method=PUT" class="editMovie page">
        <div class="titleMovie">
            <label for="title">Movie Title</label>
            <br />
            <input type="text" name="title" id="" value="<%= movie.title%> ">
        </div>
        <br />
        <div class="movieImg">
            <label for="image">Movie Image:</label>
            <br />
            <input type="text" name="image" id="" value="<%= movie.image%> ">
        </div>
        <br />
        <div class="release">
            <label for="releaseDate">Movie Release Date</label>
            <br />
            <input type="text" name="releaseDate" id="" value="<%= movie.releaseDate%>">
        </div>
        <br />
        <div class="editBtn">
            <input type="submit" id="" value="Edit Movie:<%= movie.title %> ">
        </div>
    </form>
</body>
</html>