<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Edit </title>
</head>
<body>
    <nav>
        <a href="/movies">Index</a>
    </nav>
    <h1>Edit Movie Page | <%= movie.title %> </h1>
    <form method="POST" action="/movies/<%=movie._id%>?_method=PUT">
        <div>
            <label for="title">Movie Title:</label>
            <input type="text" name="title" id="" value="<%= movie.title%> ">
        </div>
        <div>
            <label for="image">Movie Image:</label>
            <input type="text" name="image" id="" value="<%= movie.image%> ">
        </div>
        <div>
            <label for="releaseDate">Movie Release Date:</label>
            <input type="text" name="releaseDate" id="" value="<%= movie.releaseDate%>">
        </div>
        <div>
            <input type="submit" id="" value="Edit Movie:<%= movie.title %> ">
        </div>
    </form>
</body>
</html>