<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/nav.ejs') %>  
    <h1>Movie Home Page </h1>
    
    <br />
    <div>
        <a href="users/signin"><button class="singinBtn">Signin</button></a>
    </div>
    <div class="container">
        <% for(let i=0; i<movies.length; i++){ %>
            <% const movie = movies[i] %>
            <div class="column">
                <h2><a href="/movies/<%=movie._id%>"><%=movie.title%></a></h2>
                <img class="index pic" src="<%=movie.image%>" alt="<%=movie.title%>">
            </div>
        <% } %>
    </div>
</body>
</html>