<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Page</title>
</head>
<body>
    <nav>
        <a href="/movies">Index</a>
        <a href="/movies/new">New</a>
    </nav>
    <h1>Movie Home Page </h1>
    <div>
        <% for(let i=0; i<movies.length; i++){ %>
            <% const movie = movies[i] %>
            <div>
                <h2><a href="/movies/<%=movie._id%>"><%=movie.title%></a></h2>
                <p><%=movie.releaseDate%></p>
                <img src="<%=movie.image%>" alt="<%=movie.title%>">
            </div>
        <% } %>
    </div>
</body>
</html>