<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body>

    <%- include('partials/nav.ejs') %>
    
    <h1>Movie Home Page </h1>
    <div>
        <% for(let i=0; i<movies.length; i++){ %>
            <% const movie = movies[i] %>
            <div>
                <h2><a href="/movies/<%=movie._id%>"><%=movie.title%></a></h2>
                <p><%=movie.releaseDate%></p>
                <img class="index pic" src="<%=movie.image%>" alt="<%=movie.title%>">
            </div>
        <% } %>
    </div>
</body>
</html>