<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/nav.ejs') %>  
    <header>
        <h1>Search for a New Movie</h1>   
    </header>
    <br />
    <div class="container">
        <% for(let i=0; i<movieData.Search.length; i++){ %>
            <% const movie = movieData.Search[i] %>
            <a href="/movies/s/<%=movie.imdbID%>" class="index">
                <div class="column">
                    <h2 class="movieTitle"><%=movie.Title%></h2>
                    <img class="index pic" src="<%=movie.Poster%>" alt="<%=movie.Title%>">
                </div>
            </a>
        <% } %>
    </div>
</body>
</html>