<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/nav.ejs') %>
    <br>
    <h1><%=movie.title%></h1>
    <p><%=movie.year%> | <%=movie.contentRating%> | <%=movie.runtimeStr%></p>
    <br>
    <div class="container">
        <img class="show pic" src="<%=movie.image%>" alt="<%=movie.title%>">
        <div class="show column">
            <h3><%=movie.tagline%></h3>
            <p><%=movie.genres%></p>
            <p><%=movie.plot%></p>
            <br>
            <p><%=movie.directors%></p>
            <p><%=movie.writers%></p>
            <p><%=movie.stars%></p>
            <p><%=movie.releaseDate.toLocaleDateString()%></p>
            <p><%=movie.companies%></p>
            <p><%=movie.awards%></p>
            <p><%=movie.imDbRating%></p>
            <p><%=movie.metacriticRating%></p>
            <div class="row">
                <form method="POST" action="/movies/<%= movie._id %>?_method=DELETE">
                    <input type="submit" value="Delete Movie" class="deleteBtn">
                </form>
                <a href="/movies/<%=movie._id%>/edit"><button class="editBtn">Edit <%= movie.title %></button> </a>
            </div>
        </div>
        <div class=" show column">
            <h2>Reviews</h2>
            <a href="/reviews/new"><button>Add Review</button></a>
            <% for(let i=0; i<reviews.length; i++) { %>
                <% if( reviews[i].movie._id.equals(movie._id) ){ %>
                <div class="show column">
                        <h3>Rating: <%=reviews[i].rating%></h3>
                        <p><%=reviews[i].comment%></p>
                    <div class="row">
                        <a href="/reviews/<%=reviews[i]._id%>/edit"><button class="editBtn">Edit Review</button></a>
                        <form method="POST" action="/reviews/<%= reviews[i]._id %>?_method=DELETE">
                            <input type="hidden" name="movieId" value="<%=movie._id%>">
                            <input type="submit" value="Delete Review" class="deleteBtn">
                        </form>
                    </div>
                </div>
                <% } %>
            <% } %>
        </div>
    </div>

</body>
</html>