<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/nav.ejs') %>
    <h1>Show Page</h1>
    <h2><%=movie.title%></h2>
    <p><%=movie.releaseDate%></p>
    <img class="show pic" src="<%=movie.image%>" alt="<%=movie.title%>">
    <div>
        <a href="/movies/<%=movie._id%>/edit">Edit <%= movie.title %></a>
    </div>
    <div>
        <a href="/reviews/new">Add Review</a>
    </div>

    <% for(let i=0; i<reviews.length; i++) { %>
        <div>
            <h3>Rating: <%=reviews[i].rating%></h3>
            <p><%=reviews[i].comment%></p>
        </div>
    <% } %>
</body>
</html>