<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/nav.ejs') %>
    <h1>Show Page</h1>
    <h2><%=movie.title%></h2>
    <p><%=movie.releaseDate%></p>
    <img class="show pic" src="<%=movie.image%>" alt="<%=movie.title%>">
    <div>
        <form method="POST" action="/movies/<%= movie._id %>?_method=DELETE">
            <input type="submit" value="Delete Movie">
        </form>
    </div>
    <div>
        <a href="/movies/<%=movie._id%>/edit"><button>Edit <%= movie.title %></button> </a>
    </div>
    <div>
        <a href="/reviews/new">Add Review</a>
    </div>
    <% for(let i=0; i<reviews.length; i++) { %>
        <% if( reviews[i].movie._id.equals(movie._id) ){ %>
        <div>
            <h3>Rating: <%=reviews[i].rating%></h3>
            <p><%=reviews[i].comment%></p>
            <a href="/reviews/<%=reviews[i]._id%>/edit"><button class="editBtn">Edit Review</button> </a> <br />
        </div>
        <div>
            <form method="POST" action="/reviews/<%= reviews[i]._id %>?_method=DELETE">
                <br />
                <input type="submit" value="Delete Review" class="deleteBtn">
            </form>
        </div>
        <% } %>
    <% } %>
</body>
</html>