<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('partials/head.ejs') %>

<body>

    <%- include('partials/nav.ejs') %>

    <h1>Show Page</h1>

    <h2><%=movie.title%></h2>
    <p><%=movie.releaseDate%></p>
    <img class="show pic" src="<%=movie.image%>" alt="<%=movie.title%>">

</body>
</html>