<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Edit Review</h1>
    <form method="POST" action="/reviews/<%=review._id%>?_method=PUT">
        <div>
            <label for="rating"> Review Rating: </label>
            <input id="rating" name="rating" type="number" value="<%=review.rating%>"/>
        </div>
        <div>
            <label for="comment"> Review Comment: </label>
            <input id="comment" name="comment" type="string" value="<%=review.comment%>"/>
        </div>
        <input type="hidden" name="movieId" value="<%=review.movie._id%>" id="">
        <input type="submit" value="Edit review">
    </form>
</body>
</html>