<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {pageName: 'Edit Review'}) %>
<body>
    <%- include('../partials/nav.ejs', {pageName: 'Edit Review'}) %>
    <header>
        <h1>Edit Review</h1>
    </header>
    <form method="POST" action="/reviews/<%=review._id%>?_method=PUT" class="editReview">
        <div class="rating">
            <label for="rating"> Review Rating </label>
            <br />
            <input id="rating" name="rating" type="number" value="<%=review.rating%>"/>
        </div>
        <br />
        <div class="comment">
            <label for="comment"> Review Comment </label>
            <br />
            <input id="comment" name="comment" type="string" value="<%=review.comment%>"/>
        </div>
        <br />
        <div class="movieId">
            <input type="hidden" name="movieId" value="<%=review.movie._id%>" id="">
        </div>
        <br />
        <div class="edit-review">
            <input type="submit" value="Edit review">
        </div>  
    </form>
</body>
</html>