<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/nav.ejs')%>
    <h1>Review Show Page</h1>
    <p>Movie: <%=review.product.name%></p>
    <p>Rating: <%=review.rating%></p>
    <p>Review: <%=review.content%></p>
    <a href="/products/<%=review.movie._id%>">Find more information about <%=review.movie.title%></a>
</body>
</html>