<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {pageName: 'Review'}) %>
<body>
    <%- include('../partials/nav.ejs', {pageName: 'Review'})%>
    <header>
        <h1>Review Show Page</h1>
    </header>
    <p>Movie: <%=review.movie.title%></p>
    <p>Rating: <%=review.rating%></p>
    <p>Review: <%=review.comment%></p>
    <a href="/movies/<%=review.movie._id%>">Find more information about <%=review.movie.title%></a>
</body>
</html>